<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
  <servlet>
    <!--<servlet-name>getFundInfo</servlet-name>-->
    <!--<servlet-class>com.servlet.FundFindServlet</servlet-class>-->
    <servlet-name>writeFundInfo</servlet-name>
    <servlet-class>com.servlet.FundUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <!--<servlet-name>getFundInfo</servlet-name>-->
    <!--<url-pattern>/getFundInfo</url-pattern>-->
    <servlet-name>writeFundInfo</servlet-name>
    <url-pattern>/writeFundInfo</url-pattern>
  </servlet-mapping>
</web-app>